@page
@model ServiceHost.Areas.Administration.Pages.Shop.ProductCategories.IndexModel
@{
}

@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "مدیریت گروه محصولات";
}

<style>

    .k-button.k-button-icontext.btn-destroy.k-grid-delete , .k-button.k-button-icontext.btn-edit.k-grid-edit{
            flex-flow: row-reverse !important;
    }
 
</style>
<div class="container-fluid">

    <div class="row">

        <div class="col-12">
            <h1>  @ViewData["Title"]</h1>


            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="#">خانه</a></li>
                    <li class="breadcrumb-item"><a href="#">مدیریت</a></li>
                    <li class="breadcrumb-item active" aria-current="page">گروه محصولات</li>
                </ol>
            </nav>


        </div>
    </div>
    <div class="row">

        <div class="col-12 mb-4 data-table-rows data-tables-hide-filter">
            <div class="x_content"><div class="demo-container"><div class="k-rtl"><div class="gridframe" style="overflow: hidden;"><div id="grid"></div></div></div></div></div>



        </div>
    </div>
</div>
<div class="demo-section k-content k-rtl">
    <ul id="context-menu" style="display:none">
        <li id="refreshRow"> <span class="simple-icon-refresh" style="vertical-align:sub;font-size:17px"></span> بروزرسانی </li>
        <li id="excel"><span class="simple-icon-doc" style="vertical-align:sub;font-size:17px"></span> خروجی اکسل  </li>
        <li id="addRow"> <span class="simple-icon-plus" style="vertical-align:sub;font-size:17px"></span> افزودن گروه محصولات جدید</li>
        <li id="editRow"> <span class="simple-icon-pencil" style="vertical-align:sub;font-size:17px"></span> ویرایش</li>
        <li id="removeRow"> <span class="simple-icon-close" style="vertical-align:sub;font-size:17px"></span> غیر فعال کردن</li>
        @*<li id="resetPassword"> <span class="simple-icon-key" style="vertical-align:sub;font-size:17px"></span> بازیابی رمز عبور</li>*@
        @*<li id="userInfoMedia"> <span class="simple-icon-picture" style="vertical-align:sub;font-size:17px"></span> تصاویر دسته بندی محصولات</li>*@
    </ul>
</div>

<script>


    $(document).ready(function () {
        var crudServiceBaseUrl = "/api/administrator/productcategory"
        //=================================================================================================================================> region-table
        $("#grid").kendoGrid({
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: function (options) {
                        kendo_grid_read(crudServiceBaseUrl, options)
                    },
                       update: function (options) {
                           console.log(options)
                        kendo_grid_update(crudServiceBaseUrl, options, 'gridmainrefresh','id')
                    },
                    destroy: function (options) {
                        kendo_grid_destroy(crudServiceBaseUrl, options, 'gridmainrefresh')
                    },
                    create: function (options) {
                        kendo_grid_add(crudServiceBaseUrl, options, 'gridmainrefresh')
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options) };
                        }
                    }
                },
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                         id: "id",
                        fields: {
                              id: { editable: false, nullable: true },
                            name: { text: "نام ", validation: { required: true } },
                            creationDate: { text: "تاریخ تولید", editable: false },
                            slug: { text: "اسلاگ ", validation: { required: true } },
                            picture: { text: "عکس " },
                            pictureAlt: { text: "Alt " },
                            pictureTitle: { text: "عنوان " , validation: { required: true }},
                            description: { text: "توضیحات " },
                            keywords: { text: "کلمات کلیدی ", validation: { required: true } },
                            metaDescription: { text: "توضیحات متا ", validation: { required: true } },




                        }
                    }
                },


            }),
            pageable: true,
            scrollable: true,
            resizable: true,
            mobile: true,
            toolbar: [
                { name: "search", text: "جستجو ..." },

                {
                    template: `<button type='button' id='gridmainrefresh'  class='k-button btn-refresh' ><span class="simple-icon-refresh" style="font-size:17px"></span></button>`,

                },
                                { name: "create", text: "افزودن گروه محصولات" },

                { name: "excel", text: "خروجی اکسل" }

            ],
            pageable: {
                pageSizes: true,
            },
            dataBound: function () {


                //=============================================================================> column width auto
                //for (var i = 0; i < this.columns.length; i++) {
                //    this.autoFitColumn(i);
                //}
},
            filterable: true,
            sortable: true,
            columns: [

                  { field: "picture", title: "عکس" },
                { field: "name", title: "نام" },
                   { field: "slug", title: "اسلاگ",hidden:true },
              
                { field: "pictureAlt", title: "Alt" ,hidden:true},
                { field: "pictureTitle", title: "عنوان",hidden:true },
                { field: "description", title: "توضیحات" ,hidden:true},
                { field: "keywords", title: "کلمات کلیدی" ,hidden:true},
                { field: "metaDescription", title: "توضیحات متا",hidden:true },
                { field: "creationDate", title: "تاریخ تولید"  },

             { command:[{ className: "btn-destroy", name: "destroy", text: " حذف " },
             { className: "btn-edit", name: "edit", text: " ویرایش " }]  } 




            ],
            editable: "popup",
            edit: function (data) {
                   $('.k-edit-field.k-no-editor').prev().remove()
                $('.k-edit-field.k-no-editor').remove()


            },
            cancel:function(e){
              
               $('#grid').data('kendoGrid').dataSource.cancelChanges();
              
            },
        
        }).on("click", ".btn-refresh", function (e) {
            var childGrid = $(e.target).closest(".k-grid").data("kendoGrid");
            childGrid.dataSource.read();
        });;

        $(".gridframe").width(7 * $(window).width() / 8)
        $("#grid .k-grid-header-wrap").css("overflow", "hidden");
        $("#grid .k-grid-content").css("overflow-y", "scroll").css("overflow-x", "auto").scroll(function () {
            var left = $(this).scrollLeft();
            var wrap = $("#grid > .k-grid-header-wrap");
            if (wrap.scrollLeft() != left) wrap.scrollLeft(left);
        });

        var grid = $("#grid").data("kendoGrid");

























        $(`#context-menu`).show()
        $(`#context-menu`).kendoContextMenu({
            target: "#grid",
            filter: "td",
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            scrollable: true,
            select: function (e) {
                var row = $(e.target).parent()[0];
                var item = e.item.id;
                switch (item) {

                    case "refreshRow":
                        grid.dataSource.read();
                        break;
                    case "excel":
                        grid.saveAsExcel();
                        break;
                    case "addRow":
                        grid.addRow();
                        break;
                    case "editRow":
                        grid.editRow(row);
                        break;
                    case "removeRow":
                        grid.removeRow(row);
                        break;

                    default:
                        break;
                };

            }
        });





    });


</script>